{{ define "main" }}
<div class="page-container">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      {{- if ne .Type "page" }}
      <div class="post-meta">
        <span>{{ .PublishDate.Format "Jan 2, 2006" }}</span>
        <span>{{ .ReadingTime }} min read</span>
        {{- with .Params.tags }}
        <div>
          {{- range . -}}
            {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
              <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end }}
          {{- end }}
        </div>
        {{- end }}
      </div>
      {{- end }}
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    {{ partial "related-projects.html" . }}
  </article>
</div>
{{ end }}
