@font-face {
  font-family: 'Press Start 2P';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/press-start-2p.woff2') format('woff2');
}

@font-face {
  font-family: 'VT323';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/vt323.woff2') format('woff2');
}

@font-face {
  font-family: 'Comic Neue';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/comic-neue-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Comic Neue';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/comic-neue-700.woff2') format('woff2');
}
